<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glimound.rmsbackend.mapper.ResearchLaboratoryMapper">

    <!--  研究室和拥有的科研人员、办公场地、主任、秘书的信息  -->
    <resultMap id="researchLab_fullInfo_Map" type="com.glimound.rmsbackend.vo.ResearchLaboratoryVo">
        <result column="rl_lab_name" property="labName"/>
        <result column="rl_research_direction" property="researchDirection"/>
        <association property="secretary">
            <result column="s_secretary_id" property="secretaryId"/>
            <result column="s_name" property="name"/>
            <result column="s_gender" property="gender"/>
            <result column="s_birth" property="birth"/>
            <result column="s_employ_date" property="employDate"/>
            <result column="s_remit" property="remit"/>
        </association>
        <association property="director">
            <result column="d_lab_name" property="labName"/>
            <result column="d_researcher_id" property="researcherId"/>
            <result column="d_appointment_date" property="appointmentDate"/>
            <result column="d_term_date" property="termDate"/>
        </association>
        <collection property="officeSpaceList" ofType="com.glimound.rmsbackend.pojo.OfficeSpace" autoMapping="true"/>
        <collection property="scientificResearcherList" ofType="com.glimound.rmsbackend.pojo.ScientificResearcher" autoMapping="true"/>
    </resultMap>

    <select id="selectByName" resultMap="researchLab_fullInfo_Map">
        select
            rl.lab_name as rl_lab_name,
            rl.research_direction as rl_research_direction,
            s.secretary_id as s_secretary_id,
            s.name as s_name,
            s.gender as s_gender,
            s.birth as s_birth,
            s.employ_date as s_employ_date,
            s.remit as s_remit,
            d.lab_name as d_lab_name,
            d.researcher_id as d_researcher_id,
            d.appointment_date as d_appointment_date,
            d.term_date as d_term_date,
            os.site_id,
            os.space_area,
            os.address,
            os.lab_name,
            sr.researcher_id,
            sr.name,
            sr.gender,
            sr.birth,
            sr.title,
            sr.research_direction,
            sr.lab_name
        from research_laboratory rl
            left join secretary s on rl.secretary_id = s.secretary_id
            left join director d on rl.lab_name = d.lab_name
            left join office_space os on rl.lab_name = os.lab_name
            left join scientific_researcher sr on rl.lab_name = sr.lab_name
        where rl.lab_name = #{labName}
    </select>

    <update id="updateLabsSecretary">
        update research_laboratory
        set secretary_id = #{secretaryId} where lab_name in
        <foreach collection="labNameList" item="labName" separator="," open="(" close=")">
            #{labName}
        </foreach>
    </update>

    <update id="clearLabsSecretary">
        update research_laboratory
        set secretary_id = null where secretary_id = #{secretaryId}
    </update>
</mapper>