<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glimound.rmsbackend.mapper.SecretaryMapper">

    <resultMap id="secretary_researchLab_Map" type="com.glimound.rmsbackend.vo.SecretaryVo">
        <result column="secretary_id" property="secretaryId"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birth" property="birth"/>
        <result column="employ_date" property="employDate"/>
        <result column="remit" property="remit"/>
        <collection property="labNameList" ofType="String">
            <result column="lab_name"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultType="com.glimound.rmsbackend.pojo.Secretary">
        select secretary_id, name, gender, birth, employ_date, remit
        from secretary
    </select>

    <select id="selectById" resultMap="secretary_researchLab_Map">
        select s.secretary_id, name, gender, birth, employ_date, remit, lab_name
        from secretary s left join research_laboratory rl on s.secretary_id = rl.secretary_id
        where s.secretary_id = #{secretaryId}
    </select>

</mapper>